
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Precio</th>
      <th scope="col">Imagen</th>
      <th scope="col">Desucento</th>
    </tr>
  </thead>
  <tbody id="tb">
      <tr>
        <td>{{nombre}}</td>
        <td>{{precio}}</td>
        <td><img src="{{img}}" alt="{{nombre}}"></td>
        <td>{{descuento}}</td>
      </tr>
  </tbody>

</table>